* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2b2d35;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  box-shadow: 0px 4px 4px black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: #61dafb;
  margin-left: 16px;
  font-size: 22px;
}

.navbar > h4 {
  color: #deebf8;
  margin-right: 16px;
  font-weight: 600;
  font-size: 21px;
}

.logo {
  width: 40px;
}

.main-container {
  background-image: url("react-icon-large.png");
  background-repeat: no-repeat no-repeat;
  background-position: right 75%;
  color: white;
  padding: 57px 27px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-container > ul {
  font-size: 16px;
}

.main-container > ul li {
  margin-bottom: 8px;
}

.main-container > ul li::marker {
  color: #61dafb;
  display: inline-block;
  font-size: 1.4rem;
}

.main-header {
  margin: 0;
  letter-spacing: -0.05em;
}
